@model CarDealership.UI.Models.ListingVM

@{
    ViewBag.Title = "New";
}

<div class="row">
    <h3>New Vehicles</h3>
    <div class="col-xs-12">
        <p>Quick Search</p>
        <form id="searchForm" class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="quickSearch" placeholder="Enter make, model, or year"/>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="minPrice" placeholder="Min Price" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="maxPrice" placeholder="Max Price" />
            </div>
            <div class="form-group">
                <label for="price">Year</label>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="minYear" placeholder="Min Year" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="maxYear" placeholder="Max Year" />
            </div>
            <div class="form-group">
                <button id="btnSearch" class="btn btn-default">Search</button>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div id="searchResults" class="col-xs-12">

    </div>
</div>

@section Scripts
{

    <script>
        $(document).ready(function () {
            $("#searchForm").submit(function (e) {
                search();
                return false;
            });
        });

        function search() {

            var params;
            //var image path
            //var detailsPath -- use this to go to the details of a listing when clicking on it 

            params = 'quickSearch=' + $('#quickSearch').val() + '&minPrice' + $('#minPrice').val() + '&maxPrice' +
                $('maxPrice').val() + '&minYear' + $('minYear').val() + '&maxYear' + $('maxYear').val()

            $.ajax({

                type: 'GET',
                url: 'http://localhost:57967/api/listings/search' + params,
                success: function (results) {
                    $('#searchResults').empty();

                    $.each(results, function (index, listing) {
                        var html = '<div class "col-xs-12 col-sm-6 col-md-4>' +
                            '<p class="recentListing">' + listing.ListingId + '</p>' +
                            '<p class="recentListing">' + listing.MakeName + '</p>';

                        $('#searchResults').append(html.toString());
                    })
                },
                error: function () {
                    alert('Error performing search, try again later')
                }
            })
        }

    </script>
    
}
